.sidebar-section {
  width: 250px;
  height: calc(100vh - 60px);
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.menu-section {
  padding-top: 20px;
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

.menu-item {
  height: 40px;
  font-size: 14px;
  border-bottom: 1px solid #f2f2f2;
  padding-left: 20px;
  line-height: 42px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #e2e2e2;
}